body {
    background-color: #5353ff;
}

.container {
    width: 65%;
    height: 600px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
        "h h h h h h h h"
        "q q q q q q q q"
        "a a a a a a a a"
        "t t t t t t t t"
        "f f f f f f f f"
}

div {
    padding: 10px;
}

hr {
    margin-top: 24px;
}

.header {
    /* background-color: #5353ff; */
    height: 80%;
    grid-area: h;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    color: #ffd700;
}

.question {
    /* background-color: aqua; */
    grid-area: q;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #eee;
    padding-bottom: 24px;
}

.answers {
    background-color: #2121dd;
    grid-area: a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 24px;
    border: 1px solid #ffd700;
}

.option {
    background-color: #ddd;
    grid-area: o;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    /* border: 1px solid #ffd700; */
}

.timer {
    /* background-color: aqua; */
    grid-area: t;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer {
    background-color: darkgoldenrod;
    grid-area: f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.summary {
    color: #eee;
}

.oval {
    display: flex;
    width: 36px;
    height: 16px;
    margin: 0 24px 0 12px;
    background: #a84909;
    border-radius: 50%;
    border: 5px double #000;
    align-items:center;
    align-self: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    padding:8px;
  }

span.summary {
    font-size: .75em;
}

div#overlay {
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}
div#overlay_correct, div#overlay_incorrect, div#overlay_timesUp {
	display: none;
	position: relative;
	z-index: 3;
	margin: 150px auto 0px auto;
	width: 500px; 
	height: 300px;
	background: #FFF;
	color: #000;
}